*{
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;

}

.leftBox{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.profile-img{
    width:05vw;
    height: 05vh;
    display: flex;
    align-items: center;
}

.midBox{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 5px;
    padding: 20px;
    
}

.navLink{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black
}

.navLink:hover{
    background-color: yellow;
    border-radius: 30px;
    color: black
}


.ImgLo{
    border: 1px solid red;
    margin: 0;
    height: 10vh;

}